<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<!-- Running tests in parallel/ using ThreadLocal class (Thread safe using extent report) -->
<suite name="Suite" parallel = "tests">
  <!-- <test thread-count="5" name="Test" parallel = "classes"> -->
<!-- It is mandatory to pass listener inforation to testNG.xml file -->
<listeners>
<listener class-name="E2EDemoTesting.Listeners"/>
</listeners>

<!-- Running each class as single test case -->
  <test name="Validating Page Navigation Bar">
    <classes>
      <class name="E2EDemoTesting.validateNavigationBar"/> 
    </classes>
   </test>

  <test name="Validating Page Title">
    <classes>
      <class name="E2EDemoTesting.validateTitle"/> 
    </classes>
   </test>

  <test name="Validating Home Page and Traversing through Login">
    <classes>
      <class name="E2EDemoTesting.HomePage"/> 
    </classes>
  </test>

</suite> <!-- Suite -->
